@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'meatball';
    src: url(fonts/Super\ Meatball.ttf);
}

h1 {
    font-family: 'meatball', Courier, monospace;
    font-size: 3em;
}

p {

  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;

}
